<div>
    <h5>Display Data</h5>
    <div>
        <div class="element">
            <!-- First Name -->
            <div>First Name :</div>
            <div>{{person.fisrtName}}</div>
        </div>
        <div class="element">
            <!-- Last Name -->
            <div>Last Name :</div>
            <div>{{person.lastName}}</div>
        </div>
        <div class="element">
            <!-- User Name -->
            <div>Username :</div>
            <div>{{person.userName}}</div>
        </div>
        <div class="element">
            <!-- Age -->
            <div>Age:</div>
            <div>{{person.age}}</div>
        </div>
        <div class="element">
            <!-- E-mail Id -->
            <div>Mail Id :</div>
            <div>{{person.mailId}}</div>
        </div>
        <div class="element">
            <!-- Phone Number -->
            <div>Phone Number :</div>
            <div>{{person.phoneNumber}}</div>
        </div>
        <div class="element">
            <!-- Additional elemets -->
            <div>Additional Element :</div>
            <div>{{person.additionalElement}}</div>
        </div>
        <div class="element">
            <!-- Added value -->
            <div>Additional Data :</div>
            <div>{{person.additionalElementValue}}</div>
        </div>
    </div>
</div>

